<main>
    <section id="todoapp" ng-controller="TodoController">
        <header id="header">
            <h1>Todo List</h1>
            <form action="#" id="todo-form" ng-submit="addTodo()">
                <input type="text" id="new-todo" placeholder="New Todo" autofocus autocomplete="off"
                       ng-model="newTodo"/>
            </form>
        </header>

        <section id="main">
            <input type="checkbox" id="toggle-all" ng-model="allchecked" ng-click="checkAllTodos(allchecked)"/>
            <ul id="todo-list">
                <li ng-repeat="todo in todos" ng-class="{completed : todo.completed, editing : todo.editing}"
                    ng-dblclick="todo.editing = true">
                    <div class="view">
                        <input type="checkbox" class="toggle" ng-model="todo.completed"/>
                        <label>{{ todo.name }}</label>
                        <button class="destroy" ng-click="removeTodo($index)"></button>
                    </div>
                    <form action="#">
                        <input class="edit" ng-model="todo.name" ng-blur="editTodo(todo)"/>
                    </form>
                </li>
            </ul>
        </section>

        <footer id="footer">
            <span id="todo-cont"><strong>{{ remaining }} / {{ allTask }}</strong> Tasks Remaining</span>
        </footer>
    </section>
</main>
